[Unit]
Description=A deployment utility
Requires=polo.service
After=polo.service

[Service]

ExecStart=/opt/deployer/deployer/receiver.py &> /dev/null
ExecStop=/opt/deployer/daemon/receiverstop.py &> /dev/null

Type=simple
User=root
Group=root
PIDFile=/var/run/marcopolo/receiver.pid

[Install]
WantedBy=multi-user.target
