[Unit]
Description=A deployment utility
Requires=polo.service
After=polo.service

[Service]

ExecStart=marcoreceiverd

Type=simple
User=root
Group=root
PIDFile=/var/run/marcoreceiverd.pid

[Install]
WantedBy=multi-user.target
